div.error,
div.warning,
div.success {
  background: #fff;
  border: 1px solid #ccd0d4;
  border-left-width: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,.04);
  padding: 1px 12px;
  margin-bottom: 1em;
}

div.error {
  border-left-color: #dc3232;
}
div.warning {
  border-left-color: #ffb000;
}
div.success {
  border-left-color: #078600;
}
