
/* =====================================
            dig_mit! colours
   =====================================

dig_mit mint:     #7BBE95;
dig_mit orange:   #D48028;
dig_mit blue:     #63D2E3;
dig_mit_darkblue: #25569E
dig_mit yellow:   #FCDB67;
dig_mit red:      #F22F57;
dig_mit cheekred: #F0615D;
dig_mit lipsred:  #CB878F;

*/

:root {

    /* ===== Colors ===== */
    --red: #fc4940;
    --lightgray: #d0d0d0;
    --darkgray: #353431;
    --blue: #003491;
    --black: #090909;
    --white: #ffffff;

  /* ===== Breakpoints ===== */
  --phone: 576px;
  --tablet: 768px;
  --laptop: 992px;
}

/* ==== General plugin related styling ==== */
div.error,
div.warning,
div.success {
  background: var(--white);
  border: 1px solid #ccd0d4;
  border-left-width: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,.04);
  padding: 1px 12px;
  margin-bottom: 1em;
}

div.error {
  border-left-color: #dc3232;
}
div.warning {
  border-left-color: #ffb000;
}
div.success {
  border-left-color: #078600;
}


/* ==== Exercise container layout ==== */

article {
  padding: 1em !important;
}

.digmit-exercise-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  font-size: 0.75em;
}

@media screen and (min-width: 768px) {
  .digmit-exercise-container {
    font-size: 1em;
  }
}

/* ==== Header ==== /*
/* Title and short sentence / paragraph describing what to do */

.digmit-exercise-container .header {
  color: var(--red);
  width: 100%;
}

.digmit-exercise-container .header h2 i.fa-volume-up {
  cursor: pointer;
  color: var(--black);
}

.digmit-exercise-container .description {
  font-size: 1.5em;
  width: 100%;
  padding-bottom: 1em;
}

/* ==== Success message ==== /*
/* ... which is displayed when all answers are correct */

.digmit-exercise-container .next-word-message,
.digmit-exercise-container .success-message {
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.digmit-exercise-container .next-word-message p,
.digmit-exercise-container .success-message p {
  background-color: var(--red);
  color: var(--white);
  font-size: 2em;
  padding: 0.6em;
}

.digmit-exercise-container #next-word-button,
.digmit-exercise-container #next-exercise-button {
  font-weight: normal;
  border: 5px solid var(--blue);
  color: var(--blue);
  padding: 0.8em;
  cursor: pointer;
  font-size: 1.5em;
}

.digmit-exercise-container #next-word-button:hover,
.digmit-exercise-container #next-exercise-button:hover {
  color: var(--white);
  background-color: var(--blue);
}

.digmit-exercise-container #next-word-button span ,
.digmit-exercise-container #next-exercise-button span {
  vertical-align: middle;
  padding-right: 0.2em;
}

.digmit-exercise-container #next-word-button i.fa,
.digmit-exercise-container #next-exercise-button i.fa {
  font-size: 1em;
  vertical-align: middle;
}


/* ==== Source field area ==== */
/* ... where the audio buttons reside initially */

.digmit-exercise-container .source-field {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.digmit-exercise-container .source-field .audio-button {
  color: var(--red);
  border: 3px solid var(--red);
  padding: 0.4em 0.3em;
  margin: 0.16em;
  font-size: 2.5em;
  width: auto !important;
  display: inline-block;
  cursor: grab;
  text-align: center;
}

.digmit-exercise-container .source-field .audio-button.ui-draggable-dragging {
  cursor: grabbing;
}

/* ==== Target field area ==== */
/* ... where audio buttons can be dragged to */

.digmit-exercise-container .target-field {
  min-height: 4em;
  margin: 1em 0 0 0;
  min-width: 45%;
  border: 5px solid var(--red);
}
.digmit-exercise-container .target-field.draggable-syllables {
  max-width: 45%;
}

.digmit-exercise-container .target-field.height6 {
  min-height: 6em;
}

.digmit-exercise-container .target-field.single-target-area {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: auto;
  border: none;
}

.digmit-exercise-container .target-field.single-target-area > div {
  min-height: 4em;
  min-width: 5em;
  border: 5px solid var(--red);
  display: inline-block;
}

.digmit-exercise-container .target-field h3 {
  text-align: center;
  font-size: 1.5em !important;
  cursor: pointer;
}

.digmit-exercise-container .target-field .audio-button {
  border: none;
  padding: 0.3333em;
  margin: 0.16em auto;
  font-size: 2.5em;
  color: var(--red);
  width: max-content !important;  /* it seems jquery adds a specific width directly to the element */
  height: auto !important; /* same as with width */
  font-size: 2em;
  display: block;
  text-align: center;
  cursor: grab;
}
.digmit-exercise-container .target-field .audio-button.draggable-syllables {
  font-size: 1.6em;
  padding: 0.3333em 0;
}

.digmit-exercise-container .target-field .audio-button.ui-draggable-dragging {
  cursor: grabbing;
}

.digmit-exercise-container .target-field.single-target-area.exercise-solved {
   background-color: var(--red);
   border: none;
   display: flex;
   justify-content: center;
   padding: 0;
   width: fit-content;
}

.digmit-exercise-container .target-field.answer-0,
.digmit-exercise-container .target-field.answer-1,
.digmit-exercise-container .target-field.answer-0.exercise-solved,
.digmit-exercise-container .target-field.answer-1.exercise-solved,
.digmit-exercise-container .target-field.answer-0 i,
.digmit-exercise-container .target-field.answer-1 i {
    font-size: 0.75em;
}


/* @media (min-width: 576px) {
  header {
      width: 80%;
  }
} */

.digmit-exercise-container .target-field.exercise-solved {
  background-color: var(--red);
  margin-top: 1.5em;
}

.digmit-exercise-container .target-field.exercise-solved h3 {
  color: var(--white);
  font-size: 1.5em !important;
}

.digmit-exercise-container .target-field .audio-button.exercise-solved {
  cursor: pointer;
  padding: 0.5em;
  background-color: var(--red);
  color: var(--white);
}

.digmit-exercise-container .target-field .audio-button.exercise-solved i {
  color: var(--white);
  margin: 0.2em 0;
}

.digmit-exercise-container .target-field .audio-button.exercise-solved div {
  color: var(--white);
  margin: 0.2em 0;
}

.digmit-exercise-container .drop-hover {
  background-color: var(--lightgray);
}

.digmit-exercise-container .correct {
  color: var(--red);
  font-weight: bold;
  font-size: 1.5em;
}

.digmit-exercise-container .incorrect {
  color: var(--blue);
  font-weight: bold;
  font-size: 1.5em;
}

/* a button after the source and in the target field to play the whole word */
.digmit-exercise-container .full-word {
  width: 100%;
  max-height: 4em;
  text-align: center;
  font-size: 3.5em;
  color: var(--red);
  margin: 0.5em 0;
  cursor: pointer;
}

.digmit-exercise-container .full-word #current-word {
  color: var(--blue);
  display: block;

}

/* ==== Target field area input boxes for listen-and-write ==== */

/* an input box containing a single character input and an audio button */
.digmit-exercise-container .target-field.single-target-area .input-box {
  font-size: 1.8em;
  text-align: center;
  padding: 0.1em 0.1em 0.8em 0.1em;
  min-width: 1em;
  border: none;
}

.digmit-exercise-container .target-field .input-box input {
  font-size: 1em;
  font-weight: bold;
  width: 1.3em;
  padding: 0.4em 0;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  border: 3px solid var(--red);
  margin-bottom: 0.3em;
}

.digmit-exercise-container .target-field .input-box input:disabled {
  color: var(--blue);
  -webkit-text-fill-color: var(--blue); /* required on Safari and/or iOS */
  opacity: 1; /* required on Safari and/or iOS */
  font-weight: bold;
  margin-bottom: 0.2em;
  border: none;
}

.digmit-exercise-container .target-field .input-box input:disabled ~ i.help {
  display: none !important;
}

.digmit-exercise-container .target-field .input-box i.fa-volume-up {
  cursor: pointer;
  color: var(--red);
}

.digmit-exercise-container .target-field .input-box i.help {
  font-size: 0.6em;
  cursor: pointer;
  color: var(--blue);
}
.digmit-exercise-container .target-field .input-box i.help:hover {
  color: var(--red);
}

.digmit-exercise-container .target-field .input-box .solution span {
  font-size: 0.75em;
  color: var(--red);
  font-weight: bold;
  display: none;
}

.digmit-exercise-container .target-field .input-box .correct {
  background-color: var(--white);
  color: var(--red);
}

.digmit-exercise-container .target-field .input-box .incorrect {
  background-color: var(--red);
  color: var(--white);
}

@media screen and (max-width: 480px) {
  .digmit-exercise-container .target-field .input-box {
    font-size: 1.5em;
  }
  .digmit-exercise-container .target-field .input-box input {
    width: 1.2em;
    padding: 0.2em 0;
  }
  .digmit-exercise-container .target-field .input-box i.help {
    font-size: 0.5em;
  }
}


/* ==== lingua puzzle specific styling ==== */

/* ... where the audio buttons reside initially */
.digmit-exercise-container.lingua-puzzle .sort-field {
  padding: 0;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: center;
}

.digmit-exercise-container.lingua-puzzle .ui-sortable-placeholder {
  border: 3px solid var(--blue) !important;
  background-color: var(--lightgray);
  padding: 0.14em;
  margin: 0.14em;
  width: 30px !important;
}
.digmit-exercise-container.lingua-puzzle .sort-field .audio-button {
  border: 3px solid var(--red);
  padding: 0.16em;
  margin: 0.16em;
  font-size: 2.5em;
  width: auto;
  height: 1.5em;
  display: inline-block;
  text-align: center;
  cursor: grab;
}

/* some styling of the theme needs to be unset */
article .digmit-exercise-container ul li::before {
  content: none;
  margin: 0;
}

/* where the result is displayed */
.digmit-exercise-container.lingua-puzzle .result-field {
  width: 100%;
  text-align: center;
}
.digmit-exercise-container.lingua-puzzle .result-field p {
  font-size: 2em;
}

/* a button after the description or in the target field to play the whole sentence */
.digmit-exercise-container.lingua-puzzle .full-word {
  font-size: 3.5em;
  display: flex;
  align-items: center;
  margin-left: 0.5em;
  min-width: 0;
  border: none;
  cursor: pointer;
  width: 100%;
  justify-content: center;
  margin-top: 0.25em;
  margin-left: 0;
}

/* a button after the description or in the target field to play the whole sentence */
#lingua-puzzle-test-button {
  border: 5px solid var(--red);
  font-size: 2em;
  color: var(--red);
  background-color: white;
  padding: 3px 20px;
  margin: 10px auto;
}

#lingua-puzzle-test-button:hover {
  cursor: pointer;
}

.digmit-exercise-container.lingua-puzzle .test-button-effect {
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
